

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  padding: 20px;
}
/* Title */

h1 {
  text-align: center;
  margin: 0 auto;
  width: fit-content;
  color: #0166FF; 
  font-size: 3rem;
}

h2 {
  margin-bottom: 2px;
}

/* Display User Selector */

#display-user-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  margin: 20px 0;
}

#users-selector {
  margin-left: 5px;
}

select {
  font-size: 1.15rem;
  padding: 2px 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

/* Bookmark card*/
.bookmark-card-div {
  width: 40%;        /* 40% width leaves ~20% margin on each side */
  margin: 20px auto;    /* Centers the card horizontally */
  padding: 20px;
  background-color: #e8f4fd; 
  border-radius: 10px;

} */


/* Links */

#bookmark-display-div a{
  font-size: .95rem;
}
a {
  color: #0077b6; /* Blue links, bookmark title */
  font-size: 20px;
  font-weight: bold;
}

a:hover {
  color: #e94560;
}


/* time stamp */
.bookmark-date {
  font-size: 0.875rem;
  color: rgb(52, 52, 52);
  font-style: italic;
}

/* bookmark 1st line to display bookmark name and delete button */
.bookmark-first-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* delete button */
.delete-button {
  background: transparent;
  border: none;
  padding: 0px 9px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 20px;
}

/* bookmark 1st line to display bookmark name and copy button */
.bookmark-last-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* copy button */
.copy-button {
  background: #f5f5f5;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 0px 9px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.copy-button:hover {
  background: #d5e0bc;
  border-color: #bbb;
}

/* like button */
.like-button {
  background-color: transparent;
  border: none;
  padding: 0px 9px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.like-button:hover {
  background: #ffd6d6;
  border-color: #bbb;
}

.like-button.liked {
  background: #ffe0e0;
  border-color: #f88;
}


/* submission form */
#bookmark-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  background-color: #caf0f8;
  border-radius: 10px;       
  padding: 20px; 
  width:40%;    
}

#bookmark-form input[type="text"],
#bookmark-form textarea {
  width: 100%;
  box-sizing: border-box;
  height:80px;
}

#bookmark-form input[type="text"]{
  height:30px;
}

#bookmark-form label {
  align-self: flex-start;
}

input {
  margin: 5px;
}

.user-submit {
  margin-left: 20px;
}

#add-bookmark-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

#submit-button {
  background: #f5f5f5;
  border: 1px solid #847f7f;
  border-radius: 30px;
  padding: 5px 9px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100px;
  margin-top: 20px;
}

#submit-button:hover {
  background: #d5e0bc;
  border-color: #bbb;
}

.submit-button-parent-div {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.user-radio-selections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}